<div class="row">
	<div class="col-md-12">
		<div ng-init="unfilteredPrice = '27.95'">
			Price: {{unfilteredPrice}} <br/>
			Price: {{unfilteredPrice | currency}} <br/>
			Price: {{unfilteredPrice | currency:"&#8377;"}} <br/>
			Price: {{unfilteredPrice | currency:"&euro;"}} <br/>
			Price: {{unfilteredPrice | number:5}} <br/>
			Price: {{unfilteredPrice | number:0 | currency}} <br/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<hr>
		<div ng-repeat="subject in results.subjects | filter:{grade:'C'}">
			Subject with Grade C --  {{subject.title}}
		</div>
	<hr>
		<div ng-repeat="subject in results.subjects | orderBy:'title'">
			{{subject.title}}
		</div>
		<hr>
		<div ng-repeat="subject in results.subjects | orderBy:'-title'">
			{{subject.title}}
		</div>
		<hr>
	</div>
</div>
